<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">
	<!-- STDOUT -->
	<appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<param name="Threshold" value="INFO" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{dd/MM/yy hh:mm:ss:sss z}] %t %5p %c{2}: %m%n" />
		</layout>
	</appender>

	<!-- DEBUG -->
	<appender name="DEBUG" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="/www/logs/b2b-search-debug.log" />
		<param name="Append" value="true" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<param name="Threshold" value="DEBUG" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{dd/MM/yy hh:mm:ss:sss z}] %t %5p %c{2}: %m%n" />
		</layout>
	</appender>

	<!-- INFO -->
	<appender name="INFO" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="/www/logs/b2b-search-info.log" />
		<param name="Append" value="true" />
		<param name="Threshold" value="INFO" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{dd/MM/yy hh:mm:ss:sss z}] %t %5p %c{2}: %m%n" />
		</layout>
	</appender>

	<!-- WARN -->
	<appender name="WARN" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="/www/logs/b2b-search-warn.log" />
		<param name="Append" value="true" />
		<param name="Threshold" value="WARN" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{dd/MM/yy hh:mm:ss:sss z}] %t %5p %c{2}: %m%n" />
		</layout>
	</appender>

	<!-- ERROR -->
	<appender name="ERROR" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="/www/logs/b2b-search-error.log" />
		<param name="Append" value="true" />
		<param name="Threshold" value="ERROR" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{dd/MM/yy hh:mm:ss:sss z}] %t %5p %c{2}: %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="ERROR" />
			<param name="LevelMax" value="ERROR" />
			<param name="AcceptOnMatch" value="true" />
		</filter>
	</appender>

	<category name="java.sql">
		<priority value="DEBUG" />
	</category>
	<category name="com.ibatis">
		<priority value="DEBUG" />
	</category>

	<root>
		<priority value="DEBUG" />
		<appender-ref ref="STDOUT" />
		<appender-ref ref="DEBUG" />
		<appender-ref ref="INFO" />
		<appender-ref ref="WARN" />
		<appender-ref ref="ERROR" />
	</root>
</log4j:configuration>